<div class=" dialog-title">
  <div style="justify-content: space-between; display: flex;">
    <h1 style="padding: 1rem; margin: 0rem;">{{ title }}</h1>
    <div style="display: flex; justify-content: flex-end;">
      <button
        mat-icon-button
        type="button"
        (click)="close()"
        class="button-icon"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="dialog-content">
    <!-- Poner acá el contenido del dialogo -->
    <div class="row">
      <div class="col text-center">
        <img class="img-fluid" [src]="url" alt="Photo of a Shiba Inu" />
      </div>
    </div>
  </div>
</div>
