.my-table{
    width: 98%;
    margin: auto;
}

.search{
    padding: 1rem 0.5rem 0.2rem 0.5rem;
    width: 100%;
}

.mat-header-cell {
    text-transform: uppercase;
    color: rgb(42, 70, 131);
    font-size: 0.95rem;
    font-weight: 400;
}